my-app
  display: flex
  border: solid black 2px
  width: 66em
  div
    box-sizing: border-box
side-menu
  margin-top: 2em
  flex-grow: 1
.topmenu
  height: 2em
.pane2
  box-shadow: 1px 1px 4px 0px
.content
  display: flex
  flex-direction: row

