.test
  width: 100px
  height: 100px

.back
  background: red
  transition: all 1s
  &:hover
    background: blue
    width: 50px
    height: 50px
    transition: all 1s

/*Can use :Global to create a global css rule, defaults to local but can use :local*/
